.solar-system{
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.9294117647), rgba(0, 0, 0, 0.349)),
    url(../../image/pexels-kai-pilger-1341279.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    padding: 120px 30px;

}

.solar-system h4 {
    font-size: 28px;
    line-height: 2.4rem;
    font-weight: 500;
}
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    }

    .item img {
        width: 115px;
    }

    .item {
        border: 2px solid white;
        padding: 18px;
        text-align: center;
        margin-bottom: 24px;
        border-radius: 21px;
    }

    .item a {
        display: flex;
        align-items: center;
        color: white;
        width: 100%;
        justify-content: center;
        position: relative;
        left: 2px;
    }

    .text-center{
        text-align: center;
    }

    .item a svg {
        position: relative;
        left: 3px;
        top: 2px;
        font-size: 16px;
    }

    .item h3 {
        font-size: 16px;
        margin: 0px 0;
        font-weight: 500;
    }

    .item p {
        font-size: 13px;
        margin: 5px 0;
    }

    .item a {
        display: flex;
        align-items: center;
        color: #fff;
        width: 100%;
        justify-content: center;
        position: relative;
        left: 2px;
        font-size: 12px;
    }