/* src/components/HamburgerMenuWithAnimation.css */


  
  .menu-button {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    margin: 3px 0;
}
  
  .menu-items {
    display: flex;
    flex-direction: column;
    padding: 20px;
  
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: 0px;
    width: 100%;
    background: none;
    z-index: 9999;
}

.menu-button {
  display: flex;
  flex-direction: column;
  cursor: pointer !important;
  z-index: 99999999999 !important;
  position: relative !important;
  top: 22px;
  right: 18px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: black;
  border-radius: none !important;
  box-shadow: none;
  width: 65%;
  height: 104vh;
  text-align: center;
  position: relative;
  bottom: 35px;
  justify-content: center;
  align-items: center;
}

.dropdown-content a {
  display: flex !important;
  align-items: center;
  position: relative;
  justify-content: center;
  gap: 4px;
}

.dropdown-content a svg{
  position: relative;
  top: 2px;
}

.dropdown-content a {
  padding-top: 3px !important;
}

.menu-items a {
  text-decoration: none;
  color: white;
  padding-top: 9px;
  font-size: 13px;
}

.close {
  width: 39px;
  height: 3px;
  background-color: #ffffff;
  margin: 3px 0;
  transform: rotate(-47deg);
  position: relative;
  left: -2px;
  top: 9px;
}
.closes {
  width: 36px;
  height: 3px;
  background-color: #ffffff;
  margin: 3px 0;
  transform: rotate(45deg);
}

a.specifiq-gap {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

a.specifiq-gap svg {
  position: relative;
  top: 2px;
}

.dropdown-content {
  border: 1px solid white;
  padding: 10px;
  border-radius: 6px;
  margin: 10px 0;
  margin-bottom: 0px;
}

.dropdown-content a {
  display: inline-block;
}