.video-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 2;
    color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
    
    .video-section video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.8;
    }
    .text {
      position: relative;
      z-index:9;
    }
    
    .video-overly {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(0 0 0 / 50%);
      z-index: 8;
  }
  
    /* div#root {
      overflow: hidden;
  } */
  
  .text-section {
      position: relative;
      width: 100%;
  }
  
  .text-section h3 {
      font-size: 55px;
      font-weight: 300;
      color: #ffffffa6 !important;
      position: relative;
      z-index: 9999;
      font-family: 'Lora';
      text-transform: uppercase;
      padding-bottom: 20px;
  }
  
  .text-section h1 {
      color: #ffffffa6 !important;
      position: relative;
      z-index: 9999;
      font-size: 146px;
      text-transform: uppercase;
  }
  
  .text-section h2 {
      font-size: 31px;
      text-transform: uppercase;
      font-weight: 600;
      color: #ffffffa6 !important;
      position: relative;
      z-index: 9;
  }
  
  
  
  .text-section {
      position: relative;
      width: 100%;
      padding: 100px 0;
  }
  
  .text-section {
    position: relative;
    width: 100%;
    padding: 100px 0;
    z-index: 10 !important;
  }

  .content {
    z-index: 9;
    text-align: center;
}

.video-overly h4 {
  padding: 0 15px;
  font-size: 21px;
  letter-spacing: 2px;
  font-weight: 500;
}

.content h1 {
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
}


.content p {
  font-size: 13px;
  padding: 0 18px;
  font-weight: 300;
  margin-bottom: 26px;
}

.video-section button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  background: none;
  border: 1px solid white;
  color: white;
  font-family: montserrat;
  font-size: 12px;
  transition: .3s ease-in-out;
}

.video-section button:hover{
  background: white;
  color: black;
}

.flex-center {
  text-align: center;
  display: flex;
  justify-content: center;
}

