.solar-text h1 {
    margin: 0;
    font-size: 23px;
    font-weight: 600;
}

.solar-text p {
    font-size: 13px;
    letter-spacing: 1px;
}

.solar-systems h3 {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
}

.solar-systems p {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
}
.img-center img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.img-center{
    text-align: center;
}

.solar-text button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 19px;
    background: none;
    border: 1px solid white;
    color: white;
    font-family: montserrat;
    font-size: 12px;
    transition: 0.3s ease-in-out;
    margin-top: 10px;
}
  
  .solar-text button:hover{
    background: white;
    color: black;
  }

  .solar-systems{
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.9294117647), rgba(0, 0, 0, 0.349)),
    url(../../image/pexels-kai-pilger-1341279.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    padding: 120px 30px;

}